<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mosaic</title>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.scrollTo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link href="{{ url_for('static', filename='css/jumbotron-narrow.css') }}" rel="stylesheet">
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){

            // create grid of cells.
            var tab = $("table#nodes");
            for (var r = 0; r < 8; r++) {
                var row = $("<tr>")
                for (var c = 0; c < 8; c++) {
                    row.append("<td id='node_" + (r*8+c) + "'/>");
                }
                tab.append(row);
            }

            var socket = io.connect();

            socket.on('connect', function() {
                socket.emit('connect', {data: 'Hi!'});
            });
            createImageLayer();

            $("#capture").click(function() {
                $.scrollTo("#step2", 800);
                paused = true;
                $("img#capture-preview").attr("src", url + imageNr);
            })

            $("#back_capture").click(function() {
                paused = false;
                $.scrollTo("#step1", 800);
                createImageLayer();
            })

            $("#create_mosaic").click(function() {
                $.scrollTo("#step3", 800);
            });

            var node_status = ["white", "#337ab7", "#419641", "#eb9316"];
            socket.on('update log', function(data) {
                console.log(data);
                $("#console").append($('<li class="list-group-item">').text(
                  data.source + ": " + data.message));
                $("#node_" + data.source).css('background-color', node_status[data.status]);
            });
        });
    </script>
</head>
<body role="document">
    <div class="container theme-showcase" role="main">
        <div class="header clearfix">
            <h3 class="text-muted">Mosaic on Pi</h3>
        </div>
        <div id="step1" class="steps">
            <div id="webcam"><noscript><img src="/video_feed" /></noscript></div>
            <p style="margin-top: 10px;">
            <button type="button" class="btn btn-lg btn-primary" id="capture">
                <span class="glyphicon glyphicon-camera" aria-hidden="true" />
                Capture
            </button>
            </p>
        </div>

        <div id="step2" class="steps">
            <h2>Create mosaic</h2>
            <div class="webcam">
                <img id="capture-preview" style="padding: 20px; border: 1px solid #337ab7"/>
            </div>
            <p style="margin-top: 10px;">
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">#</span>
                <input type="text" class="form-control" placeholder="search string" aria-describedby="basic-addon1">
            </div>
            <div class="input-group input-group-lg" style="margin-top: 5px;">
                <input type="text" class="form-control" placeholder="e-mail" aria-describedby="basic-addon1">
                <span class="input-group-addon" id="sizing-addon1">@example.com</span>
            </div>
            <div style="margin-top: 10px;">
            <button type="button" class="btn btn-lg btn-default" id="back_capture">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true" />
                Back
            </button>
            <button type="button" class="btn btn-lg btn-success pull-right" id="create_mosaic">
                <span class="glyphicon glyphicon-ok" aria-hidden="true" /> Create
            </button>
            </div>
            </p>
        </div>

        <div id="step3" class="steps">
            <h2>Creating mosaic</h2>
            <p>
            Status of computation processes..
            </p>
            <table id="nodes"></table>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">idle</button>
                <button type="button" class="btn btn-primary">download</button>
                <button type="button" class="btn btn-success">finished</button>
                <button type="button" class="btn btn-warning">matching</button>
            </div>
            <h3>Logs</h3>
            <ul id="console" class="list-group"> 
            </ul>
        </div>
    </div>
</body>
</html>

