<!DOCTYPE HTML>
<html>
<head>
    <title>Process...</title>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){

            // create grid of cells.
            var tab = $("table#nodes");
            for (var r = 0; r < 8; r++) {
                var row = $("<tr>")
                for (var c = 0; c < 8; c++) {
                    row.append("<td id='node_" + (r*8+c) + "'/>");
                }
                tab.append(row);
            }

            var socket = io.connect();

            socket.on('connect', function() {
                socket.emit('connect', {data: 'Hi!'});
            });

            var node_status = ["white", "blue", "green", "orange"];
            socket.on('update log', function(data) {
                console.log(data);
                $("#console").append($("<li>").text(
                  data.source + ": " + data.message));
                $("#node_" + data.source).css('background-color', node_status[data.status]);
            });

        });
    </script>
</head>
<body>
    <h2>Processing...</h2>
    <table id="nodes"></table>
    <div>
        <ul>
            <li><div class="block" style="background-color: white"></div> idle</li>
            <li><div class="block" style="background-color: blue"></div> download</li>
            <li><div class="block" style="background-color: green"></div> finished</li>
            <li><div class="block" style="background-color: orange"></div> matching</li>
        </ul>
    </div>
    <h2>Logs</h2>
    <ul id="console"> 
    </ul>
</body>
</html>

